#div-parent {
  display: flex;
  flex-direction: row;

  padding: 5px;
}

.div-countries {
  width: 50%;
  margin: 5px;

  padding: 10px;
}

.horizontal-list {
  display: flex;
  flex-direction: row;
  align-items: center;

  max-width: fit-content;
}

.horizontal-list > * {
  margin: 5px;
}

img {
  width: 100px;
  border-radius: 5px;
}

p {
  margin: 5px 0px;
}

.p-number-countries {
  font-size: 1.5rem;
  font-weight: bold;
}

.p-total-population {
  font-size: 1.1rem;
}

.li-country-name {
  font-weight: bold;
}
